# Environment
APP_ENV=development
DEBUG=False

# News
NEWS_API_KEY=
NEWS_API_URL=https://newsapi.org/v2/top-headlines
NEWS_PROVIDER=newsapi

# Market
ALPHA_VANTAGE_API_KEY=Z
FINNHUB_API_KEY=
POLYGON_API_KEY=

# Macroeconomic
FRED_API_KEY=

# Crypto
COINGECKO_API_KEY=

# AI
OPENAI_API_KEY=