# Environment
APP_ENV=development
DEBUG=False

# News
NEWS_API_KEY=

# Market
ALPHA_VANTAGE_API_KEY=
FINNHUB_API_KEY=
POLYGON_API_KEY=

# Macroeconomic
FRED_API_KEY=

# Crypto
COINGECKO_API_KEY=

# AI
OPENAI_API_KEY=
